.privacy-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.prvc-tittle {

  margin: 60px 0 0;
  text-align: center;
  margin-bottom: 26px;
  font-size: 50px;
  line-height: 1;
}
.prvc-sub{
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}